button {
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

li {
  padding: 8px 12px;
}

.qfeed {
  border: 2px #f7d4de;
  border-radius: 1em;
  height: 4em;
  padding: 1em;
  background-color: #FFE7EE;
  margin: 2em;
}

/* for sign up page */
.App {
  text-align: center;
  background-color:rgb(252, 252, 252);
  border-width: 0;
  }
  
  .label{
  display: block;
  font-size: larger;
  color: rgb(10, 10, 10);
  padding: 5px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  }

  .btn{
  color: white;
  background-color: #690DFF;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  
  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }

  input[type="text"], textarea {
    background-color : #FFE7EE; 
    border-radius: 1em;
    border-width: 0;
    height: 5em;
    width: 20em;
  
  }

  .Qbox {
    background-color: #00C2FF;
    color: white;
  }
  
  .Welcome {
    color: white;
    background-color: #690DFF;
  }

  .Daily {
    color: black;
    background-color: #FFE7EE;
  }

  .Qfeed{
    background-color: #2D8DFF;
    color: white;
    padding-top: 2em;
  }
  .Qbubble{
    color: black;
  }

  h2 {
    margin-bottom: 0rem;
  }

  .bg {
    background-color:#2D8DFF
  }
  .wrapper{
    padding: 10px 20px;
  }

  .wrapper fieldset {
    margin: 20px 0;
}

.menu {
  background-color: #4408a3;
}

h4 {
  color: white;
}

.hamburger {
  background-color: #FFE7EE;
  border: none;
}

.Banner {
  background-color: #690DFF;
  color: white;
  font-size: 300%;
}
